{% extends "base.html" %}
{% block title %}Binary Classification{% endblock %}
{% block subtitle %}Binary Classification{% endblock %}
{% block content %}
  <div class="container"> 
    <form action = "/input_predict_binary" method = "post" enctype="multipart/form-data" class="row g-3"> 
      <form action="#" class="row g-3">
        <h4>Failure prediction through entering process conditions</h4>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Air Temperature</label>
          <input type="text" class="form-control" name="airTemperature" id="airTemperature">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Process Temperature</label>
          <input type="text" class="form-control" name="processTemperature" id="processTemperature">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Tool Wear</label>
          <input type="text" class="form-control" name="toolWear" id="toolWear">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Rotational Speed</label>
          <input type="text" class="form-control" name="rotationalSpeed" id="rotationalSpeed">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Torque</label>
          <input type="text" class="form-control" name="torque" id="torque">
        </div>
        <div class="col-md-6">
         
        </div>
        <div class="col-md-3 mb-3 mt-3">  
          <input type="submit" name="model" value="Decision Tree" class="btn btn-primary mx-3" > 
          <input type="submit" name="model" value="Xgboost" class="btn btn-primary"> 
        </div>
      </form>
      <hr/>
      <h4>Failure prediction through uploading test data in CSV format</h4>
      <div class="row mt-3">
        <form action = "/file_predict_binary" method = "post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-3">
              <input type="file" name="file" class="form-control">   
            </div>
            <div class="col-md-3 mt-2">
              <h5 style="font-weight:bold">Note: Upload CSV format file</h5>
            </div>
          </div>   
          <div class="col-md-3 mt-4">  
            <input type="submit" name="model" value="Decision Tree" class="btn btn-primary mx-3"> 
            <input type="submit" name="model" value="Xgboost" class="btn btn-primary"> 
          </div>
          
        </form>
      </div>
  </div>
{% endblock %}