{% extends "base.html" %}
{% block title %}Binary Classification{% endblock %}
{% block subtitle %}Binary Classification{% endblock %}
{% block content %}
  <div class="container-fluid"> 
    <form action = "/input_predict_binary" method = "post" enctype="multipart/form-data" class="row g-3"> 
      <form action="#" class="row g-3">
        <h3>Predict using input values</h3>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Air Temperature</label>
          <input type="text" class="form-control" name="airTemperature" id="airTemperature">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Process Temperature</label>
          <input type="text" class="form-control" name="processTemperature" id="processTemperature">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Tool Wear</label>
          <input type="text" class="form-control" name="toolWear" id="toolWear">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Rotational Speed</label>
          <input type="text" class="form-control" name="rotationalSpeed" id="rotationalSpeed">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Torque</label>
          <input type="text" class="form-control" name="torque" id="torque">
        </div>
        <div class="mb-3 mt-3">  
          <input type="submit" name="model" value="Decision Tree"> 
          <input type="submit" name="model" value="Xgboost"> 
        </div>
      </form>
      <hr/>
      <h3>Predict using file uploads</h3>
      <div class="mb-3 mt-3">
        <form action = "/file_predict_binary" method = "post" enctype="multipart/form-data">   
          <input type="file" name="file" />   
          <input type="submit" name="model" value="Decision Tree"> 
          <input type="submit" name="model" value="Xgboost"> 
        </form>
      </div>
  </div>
{% endblock %}